.mainContent {
    flex: 1;
    padding: 40px 20px;
  }
  
  .content {
    text-align: center;
  }
  
  .content h1 {
    font-size: 4rem;
    color: #333;
  }
  
  .content p {
    font-size: 3rem;
    color: #000000;
  }
  

  .productSection {
    margin-top: 2%;
  }
  
  .productSection h2 {
    font-size: 3rem;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
  }
  
  .productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px;
    justify-items: center;
    justify-content: center;
  }
  
  .productCard {
    background-color: #e0a70a;
    padding: 0.1px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .productCard:hover {
    transform: scale(1.05);
  }
  
  .productCard h3 {
    padding: 30px 10px;
    font-size: 1.8rem;
    color: #000000;
  }
  
  .productCard p {
    font-size: 2rem;
    color: #000000;
  }
  
  .buyButton {
    background-color: #da712b;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.4rem;
    margin-top: 20px;
  }
  
  .buyButton:hover {
    background-color: #e7520d;
  }